/* GLOBAL MEDIA QUERIES */
@media (width < 768px) {
  :root {
    --title: 2.5rem;
    --subtitle: 1.3rem;
    --paragraph: 1rem;
    --microcopy: 0.7rem;
  }
  main {
    padding: 0 1rem;
  }
}

/* NAV */
nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  z-index: 1;
}

nav a {
  font-weight: var(--light);
}

/* WELCOME */
#welcome {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#welcome img {
  width: 100px;
  height: 100px;
  margin-bottom: 2rem;
  opacity: 0;
  transition: var(--slow);
  transform: translateY(-1rem);
}

#welcome img.visible {
  opacity: 1;
  transform: translateY(0);
}

#welcome h1 {
  max-width: 600px;
  color: var(--black);
  font-size: var(--title);
  font-weight: var(--semi-bold);
  text-align: center;
  margin-bottom: 1rem;
}

#welcome p {
  width: 65%;
  color: var(--black);
  font-size: var(--subtitle);
  font-weight: var(--thin);
  text-align: center;
  margin-bottom: 2rem;
}

#welcome .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#welcome button {
  width: 120px;
  height: 40px;
  background-color: var(--green);
  box-shadow: 0 0.5rem 1rem var(--shadow-2);
  color: var(--white);
  font-size: var(--paragraph);
  font-weight: var(--semi-bold);
}

#welcome button:hover {
  box-shadow: 0 0.5rem 1.5rem var(--shadow-2);
}

#welcome a {
  font-size: var(--paragraph);
  font-weight: var(--light);
}

#welcome i {
  position: absolute;
  bottom: 1rem;
  font-size: 2rem;
  animation: up-down 1s infinite ease-in-out;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* FEATURES */
#features {
  width: 100%;
  min-height: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4rem;
}

#features h1 {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  margin-top: 2rem;
}

#features p {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  margin-top: 0.7rem;
  color: var(--gray-5);
}

#features-container {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#features-container img {
  max-width: 1000px;
  width: 90%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0.5rem 1rem var(--shadow-1));
}

#features-container p {
  max-width: 800px;
  font-size: var(--microcopy);
  text-align: center;
  margin-top: 1rem;
}

#features-container button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
  width: 200px;
  height: 40px;
  background-color: var(--green);
  color: var(--white);
  font-size: var(--paragraph);
  font-weight: var(--semi-bold);
  border-radius: var(--radius-1);
  box-shadow: 0 0.5rem 1rem var(--shadow-2);
}

#features-container button:hover {
  transform: translate(-50%, -50%) scale(1.03);
  box-shadow: 0 0.5rem 1.5rem var(--shadow-2);
}

@media (width < 768px) {
  #features {
    margin-bottom: 2rem;
  }
  #features h1 {
    margin-top: 0;
  }
  #features-container img {
    width: 97%;
  }
}

/* PRICING */
#pricing {
  width: 100%;
  min-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#pricing h1 {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  margin-top: 2rem;
}

#pricing p {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  margin-top: 0.7rem;
  color: var(--gray-5);
}

.pricing-cards {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  width: 300px;
  background-color: var(--gray-1);
  border-radius: var(--radius-2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: var(--slow);
  transform: translateY(-1rem);
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card h3 {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  color: var(--green);
}

.card h4 {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  color: var(--gray-5);
  margin-bottom: 2rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: disc;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.card li {
  font-size: var(--paragraph);
  font-weight: var(--regular);
  color: var(--gray);
}

.card-prices {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.card-prices h5 {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  color: var(--gray-5);
}

.card-prices h5 b {
  font-weight: var(--semi-bold);
  color: var(--green);
}

.card-prices h6 {
  text-decoration: line-through;
  font-size: var(--paragraph);
  font-weight: var(--thin);
  color: var(--gray-2);
}

.card-prices h6 b {
  font-weight: var(--semi-bold);
}

.card button {
  width: 100%;
  height: 40px;
  background-color: var(--green);
  color: var(--white);
  font-size: var(--paragraph);
  font-weight: var(--semi-bold);
  border-radius: var(--radius-1);
  box-shadow: 0 0.5rem 1rem var(--shadow-2);
}

.card button i {
  margin-left: 0.5rem;
}

@media (width < 768px) {
  #pricing h1 {
    margin-top: 0;
  }
  .pricing-cards {
    flex-direction: column;
    gap: 2rem;
  }
  .card h3 {
    font-size: 2.5rem;
  }
}

@media (height > 800px) {
  #pricing {
    min-height: 70dvh;
  }
}

/* FAQ */
#faq {
  width: 100%;
  min-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4rem;
}

#faq h1 {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  margin-top: 2rem;
  text-align: center;
}

#faq > p {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  margin-top: 0.7rem;
  color: var(--gray-5);
  text-align: center;
}

.faq-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  padding: 2rem;
  cursor: pointer;
  border-top: 1px solid var(--gray-1);
  opacity: 0;
  transition: var(--slow);
  transform: translateX(-1rem);
}

.box.visible {
  opacity: 1;
  transform: translateX(0);
}

.box:last-of-type {
  border-bottom: 1px solid var(--gray-1);
}

.box-title {
  font-size: var(--subtitle);
  font-weight: var(--regular);
  color: var(--black);
}

.box-description {
  display: none;
  margin-top: 1rem;
  transition: display 0.3s ease-in-out;
  font-size: var(--paragraph);
  font-weight: var(--light);
}

.box.expanded .box-description {
  display: block;
}

.box.expanded {
  background-color: var(--gray-1);
  border: 1px solid var(--gray-1);
  border-radius: 1rem;
}

@media (width < 768px) {
  .box {
    width: 95%;
  }
  .box h2 {
    font-size: 1.2rem;
  }
}

@media (height > 800px) {
  #faq {
    min-height: 70dvh;
  }
}

/* CONTACT */
#contact {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4rem;
}

#contact h1 {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  text-align: center;
}

#contact p {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  text-align: center;
  margin-top: 0.7rem;
  color: var(--gray-5);
}

#contact .contact-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  transition: var(--slow);
  opacity: 0;
  transform: translateY(-1rem);
}

#contact .contact-box.visible {
  opacity: 1;
  transform: translateY(0);
}

#contact .contact-box p {
  font-size: 1.5rem;
  font-weight: var(--light);
  color: var(--black);
  background-color: var(--gray-1);
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  transition: var(--steady);
  position: relative;
  cursor: pointer;
}

#contact .contact-box p i {
  font-size: 1.5rem;
  position: absolute;
  color: var(--black);
  right: 2rem;
  bottom: 0rem;
  transform: translate(-50%, 50%);
}

#contact .contact-box p:hover {
  background-color: var(--gray-2);
}

/* DISCLAIMER */
#disclaimer {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--gray-1);
}

#disclaimer p {
  text-align: center;
  font-size: var(--microcopy);
  font-weight: var(--light);
  color: var(--gray-5);
}

#disclaimer p a {
  color: var(--gray-5);
  text-decoration: underline;
}

@media (height > 800px) {
  #disclaimer {
    margin-top: 4rem;
  }
}