/* NAV */
nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  z-index: 1;
}

nav a {
  font-weight: var(--light);
}

/* WELCOME */
#welcome {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#welcome img {
  width: 100px;
  height: 100px;
  margin-bottom: 2rem;
  opacity: 0;
  transition: var(--slow);
  transform: translateY(-1rem);
}

#welcome img.visible {
  opacity: 1;
  transform: translateY(0);
}

#welcome h1 {
  width: 600px;
  color: var(--black);
  font-size: var(--title);
  font-weight: var(--semi-bold);
  text-align: center;
  margin-bottom: 1rem;
}

#welcome p {
  width: 65%;
  color: var(--black);
  font-size: var(--subtitle);
  font-weight: var(--thin);
  text-align: center;
  margin-bottom: 2rem;
}

#welcome .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#welcome button {
  width: 120px;
  height: 40px;
  background-color: var(--green);
  box-shadow: 0 0.5rem 1rem var(--shadow-2);
  color: var(--white);
  font-size: var(--paragraph);
  font-weight: var(--semi-bold);
}

#welcome button:hover {
  box-shadow: 0 0.5rem 1.5rem var(--shadow-2);
}

#welcome a {
  font-size: var(--paragraph);
  font-weight: var(--light);
}

#welcome i {
  position: absolute;
  bottom: 1rem;
  font-size: 2rem;
  animation: up-down 1s infinite ease-in-out;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* PRICING */
#pricing {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#pricing h1 {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  margin-top: 2rem;
}

#pricing p {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  margin-top: 0.7rem;
  color: var(--gray-5);
}

.pricing-cards {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  width: 300px;
  background-color: var(--gray-1);
  border-radius: var(--radius-2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: var(--slow);
  transform: translateY(-1rem);
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card h3 {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  color: var(--green);
}

.card h4 {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  color: var(--gray-5);
  margin-bottom: 2rem;
}

.card h5 {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  color: var(--gray-5);
  margin-bottom: 2rem;
}

.card h5 b {
  font-weight: var(--semi-bold);
  color: var(--green);
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: disc;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.card li {
  font-size: var(--paragraph);
  font-weight: var(--regular);
  color: var(--gray);
}

.card button {
  width: 100%;
  height: 40px;
  background-color: var(--green);
  color: var(--white);
  font-size: var(--paragraph);
  font-weight: var(--semi-bold);
  border-radius: var(--radius-1);
  box-shadow: 0 0.5rem 1rem var(--shadow-2);
}

.card button i {
  margin-left: 0.5rem;
}

/* FAQ */
#faq {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#faq h1 {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  margin-top: 2rem;
  text-align: center;
}

#faq > p {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  margin-top: 0.7rem;
  color: var(--gray-5);
  text-align: center;
}

.faq-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  padding: 2rem;
  cursor: pointer;
  border-top: 1px solid var(--gray-1);
  opacity: 0;
  transition: var(--slow);
  transform: translateX(-1rem);
}

.box.visible {
  opacity: 1;
  transform: translateX(0);
}

.box:last-of-type {
  border-bottom: 1px solid var(--gray-1);
}

.box-title {
  font-size: var(--subtitle);
  font-weight: var(--regular);
  color: var(--black);
}

.box-description {
  display: none;
  margin-top: 1rem;
  transition: display 0.3s ease-in-out;
  font-size: var(--paragraph);
  font-weight: var(--light);
}

.box.expanded .box-description {
  display: block;
}

.box.expanded {
  background-color: var(--gray-1);
  border: 1px solid var(--gray-1);
  border-radius: 1rem;
}

/* CONTACT */
#contact {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#contact h1 {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  text-align: center;
}

#contact p {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  text-align: center;
  margin-top: 0.7rem;
  color: var(--gray-5);
}

#contact .contact-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  transition: var(--slow);
  opacity: 0;
  transform: translateY(-1rem);
}

#contact .contact-box.visible {
  opacity: 1;
  transform: translateY(0);
}

#contact .contact-box p {
  font-size: 1.5rem;
  font-weight: var(--light);
  color: var(--black);
  background-color: var(--gray-1);
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  transition: var(--steady);
  position: relative;
  cursor: pointer;
}

#contact .contact-box p i {
  font-size: 1.5rem;
  position: absolute;
  color: var(--black);
  right: 2rem;
  bottom: 0rem;
  transform: translate(-50%, 50%);
}

#contact .contact-box p:hover {
  background-color: var(--gray-2);
}

/* DISCLAIMER */
#disclaimer {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--gray-1);
}

#disclaimer p {
  font-size: var(--microcopy);
  font-weight: var(--light);
  color: var(--gray-5);
}

#disclaimer p a {
  color: var(--gray-5);
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media (width < 1600px) {
  .swiper-slide {
    height: 280px;
  }
}

@media (width < 1025px) {
  #welcome h1 {
    font-size: 3.2rem;
  }
  #pricing h1 {
    font-size: 3.2rem;
  }
  #clients h1 {
    font-size: 3.2rem;
  }
  #scheduling h1 {
    font-size: 3.2rem;
  }
  #me h1 {
    font-size: 3.2rem;
  }
  #faq h1 {
    font-size: 3.2rem;
  }
  #contact h1 {
    font-size: 3.2rem;
  }
}

@media (width < 800px) {
  nav {
    padding: 0 5%;
    gap: 5px;
  }
  nav h3 {
    font-size: 1.1rem;
  }
  nav p {
    font-size: 1.1rem;
  }

  #welcome h1 {
    width: 95%;
    font-size: 3rem;
  }
  #welcome p {
    font-size: 1.2rem;
  }
  #welcome .links {
    flex-direction: column;
    gap: 1rem;
  }
  #welcome button {
    width: 100px;
    height: 40px;
    font-size: 1rem;
  }
  #welcome .welcome-image {
    width: 100%;
    height: 20rem;
  }
  #pricing {
    padding: 0 1rem;
  }
  #pricing h1 {
    width: 95%;
    font-size: 3rem;
  }
  #pricing p {
    font-size: 1rem;
  }
  .card {
    width: 100%;
    max-width: 600px;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    position: relative;
    border: 1px solid var(--gray-1);
  }
  .card-left,
  .card-right {
    width: 100%;
    padding: 1.5rem 1rem;
    z-index: 2;
  }
  #simple-website,
  #online-store,
  #personalized-software {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    z-index: 1;
  }
  .card h2 {
    font-size: 1.5rem;
  }
  .card li {
    padding: 0.5rem 0 1rem 0;
    font-size: 1rem;
  }
  .card h3 {
    font-size: 1.3rem;
    font-weight: var(--semi-semi-bold);
  }
  .card button {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter: blur(0.3rem);
    opacity: 0.1;
  }
  #clients h1 {
    width: 95%;
    font-size: 3rem;
  }
  #clients p {
    font-size: 1rem;
  }
  .swiper {
    padding: 2rem 3rem;
  }
  .swiper-slide {
    width: 100%;
    height: 300px;
  }
  .swiper-slide img {
    width: 50%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 2rem !important;
    height: 2rem !important;
    top: 50% !important;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1rem !important;
  }
  #scheduling h1 {
    width: 95%;
    font-size: 3rem;
  }
  #scheduling p {
    font-size: 1rem;
  }
  #scheduling .scheduling-container {
    margin-top: 2rem;
  }
  #scheduling .scheduling-container button {
    width: 300px;
    height: 50px;
    font-size: 1rem;
  }
  #scheduling .scheduling-container a {
    font-size: 1rem;
  }
  #me h1 {
    width: 95%;
    font-size: 3rem;
  }
  #me p {
    font-size: 1rem;
  }
  .me-container {
    flex-direction: column;
    gap: 2rem;
  }
  .me-image {
    width: 200px;
    height: 200px;
  }
  .me-description {
    width: 100%;
  }
  .me-description h2 {
    font-size: 1.5rem;
  }
  .me-description p {
    font-size: 1rem;
  }
  .me-description a {
    font-size: 1rem;
  }
  #faq h1 {
    width: 95%;
    font-size: 3rem;
  }
  #faq p {
    font-size: 1rem;
  }
  .faq-container {
    max-width: 550px;
    flex-direction: column;
  }
  .box {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  .box-title {
    font-size: 1.1rem;
  }
  .box-description {
    font-size: 1rem;
  }
  #contact h1 {
    width: 95%;
    font-size: 3rem;
  }
  #contact p {
    font-size: 1rem;
  }
  #contact .contact-box {
    flex-direction: column;
    gap: 1rem;
  }
  #contact .contact-box p {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }
  #contact .contact-box p i {
    font-size: 1.8rem;
  }
}

@media (width < 600px) {
  nav {
    padding: 0 5%;
    gap: 5px;
    height: 40px;
  }
  nav h3 {
    font-size: 1rem;
  }
  nav p {
    font-size: 1rem;
  }
  .swiper-slide {
    height: 250px;
  }
  .swiper-slide img {
    width: 60%;
  }
  #contact .contact-box p {
    font-size: 1.3rem;
    padding: 0.7rem 1.2rem;
    border-radius: 0.5rem;
  }
  #contact .contact-box p i {
    font-size: 1.3rem;
  }
  #disclaimer p {
    font-size: 0.8rem;
  }
}

@media (width < 420px) {
  #welcome h1 {
    font-size: 2.5rem;
  }
  #pricing h1 {
    font-size: 2.5rem;
  }
  #clients h1 {
    font-size: 2.5rem;
  }
  #scheduling h1 {
    font-size: 2.5rem;
  }
  #me h1 {
    font-size: 2.5rem;
  }
  #faq h1 {
    font-size: 2.5rem;
  }
  #contact h1 {
    font-size: 2.5rem;
  }
}
