/* GLOBAL MEDIA QUERIES */
@media (width < 768px) {
  :root {
    --title: 2rem;
    --subtitle: 1.1rem;
    --paragraph: 1rem;
    --microcopy: 0.7rem;
  }
  main {
    padding: 0 1rem;
  }
}

/* NAV */
nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

nav a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transition: var(--steady);
  z-index: 1;
}

nav a:hover {
  transform: scale(1.1);
  text-decoration: none;
}

nav a i {
  font-size: 1.5rem !important;
}

@media (width < 768px) {
  nav {
    gap: 0.5rem;
  }
}

/* MENU */
#menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

#menu > input {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  max-width: 600px;
  padding: 0.5rem 1rem 0.5rem 0 !important;
  margin-bottom: 1rem;
  border-radius: 0;
  border: 0;
}

.changable-title {
  background-color: var(--gray-1);
  border-radius: 0;
  border: 0;
  padding: 0.5rem;
}

#menu > p {
  font-size: var(--subtitle);
  font-weight: var(--thin);
  margin-bottom: 1rem;
}

@media (width < 768px) {
  #menu {
    padding: 0;
  }
  #menu > input {
    max-width: calc(100% - 3rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* MENU CATEGORY */
#menu-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.menu-category, #menu-category-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--radius-4);
  background-color: var(--gray-2);
}

#menu-category-select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0;
  background-color: var(--gray-1);
  font-weight: var(--semi-bold);
  font-size: var(--subtitle);
}

#menu-category-title-new {
  width: 100%;
  font-weight: var(--semi-bold);
  font-size: var(--subtitle);
}

.menu-category-title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-category-title {
  width: calc(100% - 3rem);
  font-weight: var(--semi-bold);
  font-size: var(--subtitle);
}

.menu-category-open {
  padding: 0 0.5rem 0 1rem;
  background-color: transparent;
  color: var(--gray-4);
  font-size: 2rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--gray-2);
}

.divider-dark {
  width: 100%;
  height: 1px;
  background-color: var(--gray-3);
}

.menu-category-delete {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-4);
  background-color: var(--red);
  font-weight: var(--semi-bold);
}

.menu-category-delete i {
  font-size: 1.5rem;
}

.menu-category-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu-category-items button i {
  font-size: 1.5rem;
}

.menu-category-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr fit-content(200px);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'title title' 'description description' 'price delete';
  gap: 1rem;
}

.menu-category-item button {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-4);
  background-color: var(--green);
  font-weight: var(--semi-bold);
}

.item-title,
#item-title {
  grid-area: title;
}

.item-description,
#item-description {
  grid-area: description;
}

.item-price,
#item-price {
  grid-area: price;
}

.item-delete {
  background-color: var(--gray-4) !important;
  grid-area: delete;
}

.menu-category-item input {
  width: 100%;
}
