/* GLOBAL MEDIA QUERIES */
@media (width < 768px) {
  :root {
    --title: 2rem;
    --subtitle: 1.1rem;
    --paragraph: 1rem;
    --microcopy: 0.7rem;
  }
  main {
    padding: 0 1rem;
  }
}

/* MAIN */
main {
  min-height: 100dvh;
}

/* NAV */
nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

nav a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transition: var(--steady);
  z-index: 1;
  font-weight: var(--light);
}

nav a:hover {
  transform: scale(1.03);
  text-decoration: none;
}

nav a i {
  font-size: var(--icons) !important;
}

nav button {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transition: var(--steady);
  z-index: 1;
  background-color: transparent;
  border-radius: 0;
  color: var(--black);
  font-size: var(--icons);
}

@media (width < 768px) {
  nav {
    gap: 0.5rem;
  }
}

/* MAIN */
main {
  background-color: var(--gray-1);
}

/* MENU */
#menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

#menu > input {
  font-size: var(--title);
  font-weight: var(--semi-bold);
  max-width: calc(100% - 6rem);
  padding: 0.5rem 1rem 0.5rem 0 !important;
  border-radius: var(--radius-4);
  border: 0;
  background-color: var(--gray-1);
}

#menu > input:focus {
  background-color: var(--white);
}

.changable-title {
  background-color: var(--gray-1);
  border: 0;
}

#menu > textarea {
  height: 3rem;
  font-size: var(--subtitle);
  font-weight: var(--thin);
  padding: 0.5rem 1rem 0.5rem 0 !important;
  background-color: var(--gray-1);
  border-radius: var(--radius-4);
  margin-bottom: 0.5rem;
}

#menu > textarea:focus {
  background-color: var(--white);
  resize: vertical;
}

@media (width < 768px) {
  #menu {
    padding: 0;
  }
  #menu > input {
    max-width: calc(100% - 5.7rem);
    margin-top: 0.5rem;
  }
}

/* CONTEXT MENU */
#context-menu-box {
  top: 4.2rem;
  right: 0.55rem;
}

#delete-menu-button {
  background-color: var(--red) !important;
  color: var(--white) !important;
}

/* IMAGE MODAL */
#image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--transparent-background-3);
  z-index: 9999;
}

#image-modal-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: var(--radius-3);
  box-shadow: 0 1rem 2rem var(--shadow-2);
}

#image-modal-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#image-modal-box h2 {
  font-size: var(--subtitle);
  font-weight: var(--semi-bold);
}

#image-modal-box form img {
  display: none;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: var(--radius-4);
  background-color: var(--gray-1);
}

#image-modal-box form label {
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
  border: 0.1rem dashed var(--gray-4);
  border-radius: var(--radius-4);
  color: var(--gray-4);
  background-color: var(--gray-1);
  font-weight: var(--light);
  cursor: pointer;
  text-align: center;
}

#image-modal-box form label i {
  font-size: 3rem;
  color: var(--gray-4);
}

#image-modal-box form input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#image-modal-box form button {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--green);
  color: var(--white);
  font-weight: var(--semi-bold);
}

/* COLORS MENU */
#colors-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--transparent-background-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 9999;
}

#colors-menu-box {
  width: 500px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: var(--radius-3);
  padding: 1rem;
  box-shadow: 0 1rem 2rem var(--shadow-2);
  transition: var(--steady);
}

#colors-menu-box h2 {
  grid-row: 1;
  grid-column: 1 / -1;
  width: 100%;
  font-size: var(--subtitle);
  font-weight: var(--semi-bold);
}

#colors-menu-box .color-option {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: var(--radius-4);
  transition: var(--steady);
}

#color-1 {
  background-color: var(--green);
}

#color-2 {
  background-color: var(--blue);
}

#color-3 {
  background-color: var(--light-blue);
}

#color-4 {
  background-color: var(--yellow);
}

#color-5 {
  background-color: var(--red);
}

#color-6 {
  background-color: var(--orange);
}

#color-7 {
  background-color: var(--pink);
}

#color-8 {
  background-color: var(--purple);
}

#color-9 {
  background-color: var(--black);
}

#color-10 {
  background-color: var(--gray-5);
}

#color-11 {
  background-color: var(--gray-4);
}

#color-12 {
  background-color: var(--gray-3);
}

@media (width < 768px) {
  #colors-menu-box {
    width: 95%;
    height: 300px;
  }
}

/* MENU CATEGORY */
#menu-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#menu-top-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#change-color-button,
#move-menu-button {
  width: fit-content;
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.7rem;
  padding: 0.5rem 1rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: var(--radius-1);
  font-weight: var(--semi-bold);
  box-shadow: 0 0.3rem 0.5rem var(--shadow-1);
  flex-shrink: 0;
}

#change-color-button:hover,
#move-menu-button:hover {
  box-shadow: 0 0.5rem 0.5rem var(--shadow-2);
}

.menu-category,
#menu-category-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--radius-2);
  background-color: var(--white);
  box-shadow: 0 0.5rem 1rem var(--shadow-1);
}

.menu-category {
  border-radius: var(--radius-2) var(--radius-3) var(--radius-2) var(--radius-2);
}

.menu-category.dragging {
  opacity: 0.5;
}

#menu-category-select {
  position: relative;
  width: 100%;
  border: 0;
  padding: 0.7rem 1rem;
  background-color: var(--green);
  color: var(--white);
  font-weight: var(--semi-bold);
  font-size: var(--subtitle);
}

#menu-category-title-new {
  width: 100%;
  font-weight: var(--semi-bold);
  font-size: var(--subtitle);
}

.menu-category-title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-category-title {
  width: calc(100% - 3rem);
  font-weight: var(--semi-bold);
  font-size: var(--subtitle);
}

.menu-category-open,
.menu-category-move {
  padding: 0 0.5rem 0 1rem;
  background-color: transparent;
  color: var(--gray-4);
}

.menu-category-open {
  font-size: 1.5rem;
}

.menu-category-move {
  font-size: 1rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--gray-2);
}

.divider-dark {
  width: 100%;
  height: 1px;
  background-color: var(--gray-3);
}

.menu-category-delete {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background-color: var(--red);
  font-weight: var(--semi-bold);
  box-shadow: 0 0.3rem 0.5rem var(--shadow-2);
}

.menu-category-delete:hover {
  box-shadow: 0 0.5rem 0.5rem var(--shadow-2);
}

.menu-category-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu-category-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr fit-content(200px);
  grid-template-rows: 35px 35px 35px;
  grid-template-areas: 'title input' 'description input' 'price delete';
  gap: 1rem;
}

.menu-category-item label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 0.1rem dashed var(--gray-4);
  color: var(--gray-4);
  border-radius: var(--radius-3);
  background-color: var(--gray-1);
  font-size: var(--paragraph);
  font-weight: var(--semi-bold);
  cursor: pointer;
  grid-area: input;
}

.menu-category-item-with-image {
  grid-template-areas: 'title image' 'description image' 'price delete' !important;
}

.menu-category-item-with-image img {
  grid-area: image;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-4);
  background-color: var(--gray-1);
  cursor: pointer;
}

.menu-category-item button {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-1);
  background-color: var(--green);
  font-weight: var(--semi-bold);
  box-shadow: 0 0.3rem 0.5rem var(--shadow-1);
}

.menu-category-item button:hover {
  box-shadow: 0 0.5rem 0.5rem var(--shadow-1);
}

.item-title,
#item-title {
  grid-area: title;
}

.item-description,
#item-description {
  grid-area: description;
}

.item-price,
#item-price {
  grid-area: price;
}

.item-delete {
  background-color: var(--black) !important;
  grid-area: delete;
}

.menu-category-item input {
  width: 100%;
}

/* CONTEXT ITEM */
#context-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  z-index: 9999;
}

#context-item-box {
  position: absolute;
  top: 38%;
  right: 80px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--white);
  border-radius: var(--radius-3);
  padding: 1rem;
  box-shadow: 0 1rem 2rem var(--shadow-2);
  transition: var(--steady);
}
/* right arrow */
#context-item-box::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--white);
}

.context-item-divider {
  width: 100%;
  height: 1px;
  background-color: var(--gray-1);
}

#context-item-box button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background-color: var(--white);
  box-shadow: 0 0.3rem 0.5rem var(--shadow-1);
  font-weight: var(--semi-bold);
  color: var(--black);
  cursor: pointer;
  transition: var(--steady);
}

#context-item-box button:nth-child(3) {
  background-color: var(--red);
  color: var(--white);
}