/* CONFIRM */
#confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--transparent-background-3);
  z-index: 9999;
}

#confirm-box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: var(--radius-3);
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2rem var(--shadow-2);
  transition: var(--steady);
}

#confirm-box p {
  font-size: var(--paragraph);
  font-weight: var(--light);
  color: var(--black);
  text-align: center;
}

#confirm-buttons {
  display: flex;
  gap: 1rem;
}

#confirm-buttons button {
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background-color: var(--black);
  font-weight: var(--light);
  color: var(--white);
  cursor: pointer;
  transition: var(--steady);
}

#confirm-yes {
  background-color: var(--green) !important;
}

@media (width < 768px) {
  :root {
    --paragraph: 0.8rem;
  }
  #confirm-box {
    max-width: 100%;
  }
}