/* FOOTER */
footer {
  width: 100%;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: var(--black);
}

footer p {
  font-size: var(--microcopy);
  font-weight: var(--light);
  color: var(--white);
}

footer p a {
  color: var(--white) !important;
}

/* MEDIA QUERIES */
@media (width < 768px) {
  footer p {
    font-size: 0.7rem;
  }
}
