<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- keywords -->
    <meta
      name="keywords"
      content="digital menu, menus, menu, alternative, paper, alternative to paper, cafe, cafes, café, cafés, bar, bars, restaurant, restaurants, best menu for cafe, best menu for bar, best menu for restaurant, menu, best menu, best menu for cafe, best menu for bar, best menu for restaurant, menu, best menu"
    />
    <!-- title and description -->
    <title>Ementify - Free Digital Menu</title>
    <meta name="description" content="Digital menu for cafés, restaurants, and bars." />
    <!-- apple icon -->
    <link rel="apple-touch-icon" href="/assets/logo.webp" />
    <!-- favicon -->
    <link rel="icon" href="/assets/logo.webp" type="image/webp" />
    <!-- styles -->
    <link rel="stylesheet" href="/styles/font-awesome-4/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/styles/defaults.css" />
    <link rel="stylesheet" href="/styles/components/loading.css" />
    <link rel="stylesheet" href="/styles/components/popup.css" />
    <link rel="stylesheet" href="/view/index.css" />
    <!-- scripts -->
    <script type="module" src="/view/index.js"></script>
    <!-- analytics -->
    <script defer src="/js/analytics.js"></script>
  </head>
  <body>
    <main>
      <!-- <img src="/assets/demo/menu.webp" alt="Example of an image to place in your menu." /> -->
      <section id="view">
        <h1 id="menu-name">Menu</h1>
        <p id="menu-description">Click in a category to view the items.</p>
        <div class="divider"></div>
        <div id="view-list"></div>
        <footer></footer>
      </section>
    </main>
  </body>
</html>
